/* LAYOUT SETTINGS ALL DEVICES */

#mainWindow {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#pageTitle {
    padding-top: 3rem;
    text-align: center;
}

#pageTitle, #passwordOutputWindow, #passwordSettingsWindow {
    margin: auto;
    transition: max-width 0.5s ease, min-width 0.5s ease; 
}

#passwordOutputWindow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#passwordOutputWindow h1 {
    width: 70%;
    text-overflow: clip;
}

#imageButton, #imageButton > * {
    max-width: 50px; min-height: 50px;
    max-height: 50px; min-width: 50px;
    text-align: center;
}

#checkboxGroup {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 2rem;
}

.checkboxItem > input:active {
    background-color: yellowgreen;
}
/* LAYOUT PASSWORD SETTINGS */

#characterLengthOutputInfoBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#passwordLengthSlider {
    width: 100%;
}

#passwordStrengthWindow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#passwordStrengthBox {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#strengthIndicatorsBox {
    display: flex;
    flex-direction: row;
}
@media only screen and (max-width: 600px) {

    /* LAYOUT SETTINGS MOBILE DEVICES */
    #pageTitle, #passwordOutputWindow, #passwordSettingsWindow {
        max-width: 90%;
        min-width: 90%;
        padding: 1rem;
    }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
    /* LAYOUT SETTINGS TABLET DEVICES */
    #pageTitle, #passwordOutputWindow, #passwordSettingsWindow {
        max-width: 70%;
        min-width: 70%;
        padding: 2rem;
    }
}

@media only screen and (min-width: 1025px) {
    /* LAYOUT SETTINGS DESKTOP DEVICES */

    #pageTitle, #passwordOutputWindow, #passwordSettingsWindow {
        max-width: 50%;
        min-width: 50%;
        padding: 2rem;
    }
}