:root {
    --mint: #a2ffaa;
    --pale-grey: #e5e4e9;
    --dark-grey: #24232b;
    --black: #18171f;
    --dark-black: #0c0b11;
    --pale-gold: #f7cb65;
    --red: #ff6262;
}

body {
    background: var(--dark-black);
}

* {
    color: var(--pale-grey);
    font-family: 'Courier New', Courier, monospace;
}

#pageTitle {
    font-size: 2rem;
    color: var(--pale-grey);
}

#passwordOutputWindow {
    background-color: var(--dark-grey);
}


/* STYLE PASSWORD SETTINGS */

#passwordSettingsWindow {
    background: var(--dark-grey);
}

#passwordLengthSlider {
    -webkit-appearance: none;
    appearance: none;
    height: 5px;
    background: var(--dark-black);

    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

#passwordLengthSlider:hover {
    opacity: 1;
}

#lengthLabel {
    display: flex;
    padding-bottom: 1rem;
    font-size: 1.5rem;
}
#lengthOutput {
    display: flex;
    padding-bottom: 1rem;
    font-size: 2rem;
    color: var(--mint);
}

#passwordLengthSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: var(--pale-grey);
    width: 15px;
    height: 15px;

}

#passwordLengthSlider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--pale-grey);
    cursor: pointer; /* Cursor on hover */
}

#passwordLengthSlider::-webkit-slider-thumb:hover, #passwordLengthSlider::-webkit-slider-thumb:active {
    -webkit-appearance: none;
    appearance: none;
    background: var(--black);
    width: 15px;
    height: 15px;

}

#passwordLengthSlider::-moz-range-thumb:hover, #passwordLengthSlider::-moz-range-thumb:active {
    width: 25px;
    height: 25px;
    background: var(--black);
    cursor: pointer; /* Cursor on hover */
}

/* CHECKBOX STYLE */

.checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    border: 1px solid var(--pale-grey);
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: var(--black);
}

.checkbox:hover input ~ .checkmark {
    background-color: var(--dark-black);
    border: 2px solid var(--mint);
}
.checkbox input:checked ~ .checkmark {
    background-color: var(--mint);
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.checkbox input:checked ~ .checkmark:after {
    display: block;
}

.checkbox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
#generateButton {
    font-weight: bold;
    font-size: 1.5rem;
}
button {
    border: none;
    width: 100%;
    padding: 1rem;
    background-color: var(--mint);
    color: var(--dark-grey);
}

button:hover {
    border: 1px solid var(--mint);
    width: 100%;
    padding: 1rem;
    background-color: var(--dark-grey);
    color: var(--mint);
}

/* COPY PASSWORD BUTTON */

#imageButton {
    border: none;
    padding: 0;
    margin: 0;
    background: none;
    cursor: pointer;
}

#imageButton img {
    height: 50px; 
    width: 50px; 
}